header {
    margin: 20px auto;
    padding: 20px;
    background-color: black;
    color: white;
}


/* link to high scores from start page */

.high-scores-link {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* time display */

.timeDisplay {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}


/* buttons */

button {
    background-color: khaki;
}


/* removes the dots from the answer buttons list */

.questionsUl {
    list-style-type: none;
}